<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Fideicomisos </h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <form th:action="@{/trust/trust}" method="get">
                                    <div class="card card-outline card-info mb-4">
                                        <div class="card-header">
                                            <h3 class="card-title"><strong>Consulta de Fideicomisos</strong></h3>

                                            <div class="card-tools">
                                                <a class="btn btn-sm btn-primary" th:href="@{/dashboard}">
                                                    <i class="fa fa-arrow-circle-left"></i> Regresar a Dashboard
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="col-3">
                                                    <label for="status" class="form-label">Estado</label>
                                                    <select name="status" id="status" class="form-select">
                                                        <option th:each="status, iteration : ${statuses}" th:value="${iteration.index}" th:text="${status}"
                                                            th:selected="${statusQueryParam == iteration.index}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <button class="btn btn-sm btn-info" type="submit">
                                                <i class="fa fa-search"></i> Búsqueda
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-primary mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Fideicomisos Registrados</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-bordered table-hover" id="trustTable">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Número Fideicomiso</th>
                                                        <th class="text-center">Nombre Fideicomiso</th>
                                                        <th class="text-center">Tipo Fideicomiso</th>
                                                        <th class="text-center">Estado</th>
                                                        <th class="text-center">Status</th>
                                                        <th class="text-center">Fecha de Registro</th>
                                                        <th class="text-center">Registrado Por</th>
                                                        <th class="text-center">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody th:each="trust : ${trustList}">
                                                    <tr>
                                                        <td th:text="${trust.trustId}"></td>
                                                        <td th:text="${trust.number}"></td>
                                                        <td th:text="${trust.name}"></td>
                                                        <td th:text="${trust.trustTypeEntity.name}"></td>
                                                        <td th:text="${trust.stateAsString}"></td>
                                                        <td th:text="${trust.statusAsString}"></td>
                                                        <td th:text="${#temporals.format(trust.created, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${trust.registeredBy.person.fullName}"></td>
                                                        <td>
                                                            <a th:href="@{/trust/trust/detail/{id}(id=${trust.trustId})}" class="btn btn-info">
                                                                <i class="fa fa-search"></i> Ver Detalles
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: commonModals}"></div>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>
        </div>
    </body>
</html>