# ====== Spring Boot Profile ======
# Valores posibles: dev | qa | prod
SPRING_PROFILES_ACTIVE=dev

# ====== DATABASE CONFIG ======
# PRD & 
# QA  #TRUST_DB_JDBC_URL=jdbc:oracle:thin:@10.20.50.132:1527/BCBDSAF?createDatabaseIfNotExist=true
# DEV # TRUST_DB_JDBC_URL=jdbc:mysql://localhost:3306/bcb_trust_dev?createDatabaseIfNotExist=true
TRUST_DB_USERNAME=SAF
TRUST_DB_PASSWORD="F1duC14_2o25Dev!"
# QA & PRD 
# DEV #TRUST_DB_DRIVER_CLASSNAME=com.mysql.cj.jdbc.Driver
# QA & PRD #DATABASE_PLATFORM=org.hibernate.dialect.OracleDialect
# DEV #DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect

# Legacy DB configuration
LEGACY_DB_JDBC_URL=jdbc:oracle:thin:@10.10.50.16:1527/BMTKFWEB
LEGACY_DB_USERNAME=bursametrica
LEGACY_DB_PASSWORD=bursametrica
LEGACY_DB_DRIVER_CLASSNAME=oracle.jdbc.OracleDriver
LEGACY_HIBERNATE_DIALECT=org.hibernate.dialect.OracleDialect

