<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Tipos de Fideicomiso :: Detalle de Tipo</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-primary mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Tipos de Fideicomiso Disponibles</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-sm table-bordered" id="trustTypeEntityTable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Tipo de Fideicomiso</th>
                                                        <th>Estado</th>
                                                        <th>Fecha de Registro</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td th:text="${trustTypeEntity.trustTypeId}"></td>
                                                        <td th:text="${trustTypeEntity.name}"></td>
                                                        <td th:text="${#strings.capitalize(trustTypeEntity.status.getStringValue)}"></td>
                                                        <td th:text="${#temporals.format(trustTypeEntity.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                        <td>
                                                            <a th:href="@{/catalog/trust-type/detail/{id}(id=${trustTypeEntity.trustTypeId})}" class="btn btn-sm btn-info" title="Ver Detalles">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: commonModals}"></div>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>
        </div>
    </body>
</html>