<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Generación Masiva de Estados de Cuenta</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-primary mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Progreso del Proceso</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="progress mb-2" role="progressbar" aria-label="Process progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 75%; border-radius: 0.375rem"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{fragments/common :: commonModals}"></div>

        <div th:replace="~{fragments/common :: jsDependencies}"></div>
    </body>
</html>
