<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Endpoints - Conexiones con terceros.</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-warning mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Actualizar Endpoint</strong></h3>

                                        <div class="card-tools">
                                            <a th:href="@{/system/configuration/endpoint}" class="btn btn-info btn-sm">
                                                <i class="fa fa-arrow-circle-left"></i> Regresar
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form">
                                            <div class="row g-3">
                                                <div class="col-3">
                                                    <label for="env" class="form-label"><strong>Ambiente</strong></label>
                                                    <select name="env" id="env" class="form-select">
                                                        <option th:each="env, iteration : ${envs}"
                                                            th:value="${iteration.index}" th:text="${env}"
                                                            th:selected="${endpoint.env == iteration.index}"></option>
                                                    </select>
                                                </div>
                                                
                                                <div class="col-3">
                                                    <label for="type" class="form-label"><strong>Tipo</strong></label>
                                                    <select name="type" id="type" class="form-select">
                                                        <option th:each="type, iteration : ${types}"
                                                            th:value="${iteration.index}" th:text="${type}"
                                                            th:selected="${endpoint.type == iteration.index}"></option>
                                                    </select>
                                                </div>

                                                <div class="col-3">
                                                    <label for="code" class="form-label"><strong>Código</strong></label>
                                                    <select name="code" id="code" class="form-select">
                                                        <option th:each="code, iteration : ${codes}"
                                                            th:value="${iteration.index}" th:text="${code}"
                                                            th:selected="${endpoint.code == iteration.index}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row g-3">
                                                <div class="col-3">
                                                    <label for="username" class="form-label"><strong>Username (Opcional)</strong></label>
                                                    <input type="text" id="username" name="username" class="form-control" th:value="${endpoint.username}" />
                                                </div>
                                                
                                                <div class="col-3">
                                                    <label for="password" class="form-label"><strong>Password (opcional)</strong></label>
                                                    <input type="text" id="password" name="password" class="form-control" th:value="${endpoint.password}" />
                                                </div>
                                            </div>

                                            <div class="row g-3">
                                                <div class="col-3">
                                                    <label for="token" class="form-label"><strong>Token (Opcional)</strong></label>
                                                    <input type="text" id="token" name="token" class="form-control" th:value="${endpoint.token}" />
                                                </div>
                                            </div>

                                            <div class="row g-3">
                                                <div class="col-3">
                                                    <label for="url" class="form-label"><strong>URL</strong></label>
                                                    <input type="text" id="url" name="url" class="form-control" placeholder="Ej: 10.20.50.132" th:value="${endpoint.url}" />
                                                </div>
                                                
                                                <div class="col-3">
                                                    <label for="port" class="form-label"><strong>Puerto</strong></label>
                                                    <input type="text" id="port" name="port" class="form-control" placeholder="Ej: 9002" th:value="${endpoint.port}" />
                                                </div>
                                                
                                                <div class="col-3">
                                                    <label for="resource" class="form-label"><strong>Recurso</strong></label>
                                                    <input type="text" id="resource" name="resource" class="form-control" placeholder="Ej: /api/location/byzipcode" th:value="${endpoint.resource}" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row g-3">
                                                <div class="col-4">
                                                    <button id="btnUpdate" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmModal" role="button" hidden>
                                                        <i class="fa fa-arrows-rotate"></i> Actualizar Endpoint
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title primary modal-primary fs-5" id="confirmModalLabel">Confirmación de Registro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            ¿Confirma que desea registrar el endpoint con los datos ingresados?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnSaveData" type="button" class="btn btn-primary">Guardar Registro</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $(document).ready(function() {
                const envJQuery = $("#env"),
                    typeJQuery = $("#type"),
                    codeJQuery = $("#code"),
                    urlJQuery = $("#url"),
                    portJQuery = $("#port"),
                    resourceJQuery = $("#resource"),
                    parameterJQuery = $("#parameters"),
                    btnSaveDataJQuery = $("#btnSaveData");

                $(".form-control, .form-select").on("change", function() {
                    if(validateData()) {
                        $("#btnUpdate").removeAttr("hidden");
                    } else {
                        $("#btnUpdate").attr("hidden", "hidden");
                    }
                });

                function validateData() {
                    let valid = true;

                    if(envJQuery.val() == "0") {
                        valid &= false;
                    }

                    if(typeJQuery.val() == "0") {
                        valid &= false;
                    }

                    if(codeJQuery.val() == "0") {
                        valid &= false;
                    }

                    if(resourceJQuery.val() == "") {
                        valid &= false;
                    }

                    return valid;
                }

                btnSaveDataJQuery.on("click", function() {
                    const data = {
                        env: envJQuery.val(),
                        type: typeJQuery.val(),
                        code: codeJQuery.val(),
                        username: $("#username").val(),
                        password: $("#password").val(),
                        token: $("#token").val(),
                        url: urlJQuery.val(),
                        port: portJQuery.val(),
                        resource: resourceJQuery.val()
                    };

                    console.log(data);

                    $.ajax({
                        url: '/system/configuration/endpoint/' + [[${endpoint.endpointId}]],
                        method: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function(response) {
                            console.log(response);
                            // Aquí puedes agregar lógica para mostrar un mensaje de éxito o redirigir al usuario
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                            // Aquí puedes agregar lógica para mostrar un mensaje de error al usuario
                        }
                    });
                });
            });
        </script>
    </body>
</html>