<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Tipos de Documentación</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-primary mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Tipos de Documentación Disponibles</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <table class="table table-sm table-striped table-bordered" id="documentTypeTable">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Estado</th>
                                                                <th>Tipo Persona</th>
                                                                <th>Pertenencia</th>
                                                                <th>Tipo de documento</th>
                                                                <th>Descripción</th>
                                                                <th>Fecha de Registro</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody th:each="documentType : ${documentTypeList}">
                                                            <tr>
                                                                <td th:text="${documentType.documentTypeId}"></td>
                                                                <td th:text="${documentType.getStatusAsString()}"></td>
                                                                <td th:text="${documentType.getPersonTypeAsString()}"></td>
                                                                <td th:text="${documentType.getOwnerTypeAsString()}"></td>
                                                                <td th:text="${documentType.name}"></td>
                                                                <td th:text="${documentType.description}"></td>
                                                                <td th:text="${#temporals.format(documentType.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: commonModals}"></div>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>
        </div>
    </body>
</html>