<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BCB Fiduciario</title>
        <link rel="icon" th:href="@{/public/img/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/public/bootstrap-5.3.6/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" th:href="@{/public/adminlte/css/adminlte.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/public/adminlte/plugins/fontawesome/css/all.min.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.11.0/styles/overlayscrollbars.min.css" integrity="sha512-PBzouFB1XtDMHX9kVQ3rh7MDwvHFyD5FflRNcuMk7Q9BR9v8DgwjZWu++yrIxOjsdW3j+sj9KnnY59Jjzx5hWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script>
            const baseUrl = '/';
        </script>
    </head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <nav th:fragment="nav" class="app-header navbar navbar-expand bg-primary-subtle" data-bs-theme="dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-lte-toggle="sidebar" role="button">
                            <i class="bi bi-list"></i>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a th:href="@{/dashboard}" class="nav-link">Inicio</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-none d-md-block hidden" hidden>
                        <a href="#" class="nav-link" hidden>Fecha Contable: NA</a>
                    </li>

                    <li class="nav-item dropdown user-menu">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img th:src="@{/public/img/fideicomiso-fisica-0.svg}" class="user-image rounded-circle shadow" alt="User Image">
                            <span th:if="${systemUserEntity != null}" class="d-none d-md-inline" th:text="${systemUserEntity.nickname} ?: 'VALOR_NO_PRESENTE'"></span>
                            <span th:unless="${systemUserEntity != null}" class="d-none d-md-inline" th:text="VALOR_NO_PRESENTE"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                            <!--begin::User Image-->
                            <li class="user-header text-bg-primary-subtle">
                                <img th:src="@{/public/img/fideicomiso-fisica-0.svg}" class="rounded-circle shadow" alt="User Image">
                                <p>
                                    <span th:if="${systemUserEntity != null}" th:text="${systemUserEntity.nickname} ?: 'VALOR_NO_PRESENTE'" ></span>
                                    <span th:unless="${systemUserEntity != null}"></span>
                                    <br>
                                    <span th:if="${systemProfileEntity != null}" th:text="${systemProfileEntity.name} ?: 'VALOR_NO_PRESENTE'" ></span>
                                    <span th:unless="${systemProfileEntity != null}" th:text="VALOR_NO_PRESENTE"></span>
                                    <small>Miembro desde 
                                        <span th:if="${systemProfileEntity != null}" th:text="${#temporals.format(systemProfileEntity.created, 'dd-MM-yyyy HH:mm-ss')} ?: 'VALOR_NO_PRESENTE'" ></span>
                                    </small>
                                </p>
                            </li>
                            <!--end::User Image-->
                            <!--begin::Menu Footer-->
                            <li class="user-footer">
                                <a th:href="@{/profile}" class="btn btn-default btn-flat">
                                    <i class="bi bi-person-circle"></i> Mi Perfil
                                </a>

                                <a th:href="@{/logout}" class="btn btn-default btn-flat float-end">
                                    <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                                </a>
                            </li>
                            <!--end::Menu Footer-->
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <aside th:fragment="aside" class="app-sidebar bg-primary-subtle shadow" data-bs-theme="dark">
            <!-- Sidebar Brand-->
             <div class="sidebar-brand">
                <a th:href="@{/}" class="brand-link">
                    <img th:src="@{/public/img/BCB-logo.png}" alt="Logo Admin" class="brand-image opacity-75 shadow" style="width: 100%; height: 100%;" />
                </a>
             </div>
            <!-- Sidebar Brand -->
            <!-- Sidebar Wrapper -->
             <div class="sidebar-wrapper">
                <div class="mt-2">
                    <!-- Sidebar Menu -->
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-cogs"></i>
                                <p>
                                    Configuración
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/configuration/endpoint}" class="nav-link">
                                        <i class="nav-icon fa fa-hexagon-nodes"></i>
                                        <p>
                                            Endpoints
                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-clipboard-list"></i>
                                <p>
                                    Catálogos
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/catalog/trust-type/}" class="nav-link">
                                        <i class="nav-icon bi bi-search"></i>
                                        <p>
                                            Tipos de Fideicomiso
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/catalog/person-type/}" class="nav-link">
                                        <i class="nav-icon bi bi-person-bounding-box"></i>
                                        <p>
                                            Tipos de Personas
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/catalog/consultant/}" class="nav-link">
                                        <i class="nav-icon bi bi-person-fill-check"></i>
                                        <p>
                                            Asesores
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/catalog/sponsor/}" class="nav-link">
                                        <i class="nav-icon bi bi-person-fill-up"></i>
                                        <p>
                                            Promotores
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-user-tie"></i>
                                <p>
                                    Administración
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/request/request}" class="nav-link">
                                        <i class="nav-icon bi bi-person-plus-fill"></i>
                                        <p>
                                            Solicitudes
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/trust}" class="nav-link">
                                        <i class="nav-icon bi bi-person-vcard-fill"></i>
                                        <p>
                                            Fideicomisos
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-file-earmark-ruled"></i>
                                <p>
                                    Reportes
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item" hidden>
                                    <a th:href="@{/report/statement}" class="nav-link">
                                        <i class="nav-icon bi bi-person-plus-fill"></i>
                                        <p>
                                            Elemento
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-file-earmark-ruled-fill"></i>
                                        <p>
                                            Estados de Cuenta
                                            <i class="nav-arrow bi bi-chevron-right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item" hidden>
                                            <a th:href="@{/balance}" class="nav-link">
                                                <i class="nav-icon bi bi-view-list"></i>
                                                <p>
                                                    Trimestral por rangos
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a th:href="@{/report/statement}" class="nav-link">
                                                <i class="nav-icon bi bi-filetype-pdf"></i>
                                                <p>
                                                    Individual
                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a th:href="@{/report/statement-massive}" class="nav-link">
                                                <i class="nav-icon bi bi-view-list"></i>
                                                <p>
                                                    Masivo
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-cpu"></i>
                                <p>
                                    Sistema
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/system/permission}" class="nav-link">
                                        <i class="nav-icon bi bi-card-checklist"></i>
                                        <p>
                                            Permisos
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/system/profile}" class="nav-link">
                                        <i class="nav-icon bi bi-people"></i>
                                        <p>
                                            Perfiles
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/system/user}" class="nav-link">
                                        <i class="nav-icon bi bi-people-fill"></i>
                                        <p>
                                            Usuarios
                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                    <!-- Sidebar Menu -->
                </div>
             </div>
            <!-- Sidebar Wrapper-->
        </aside>

        <!-- Common Modals -->
        <div th:fragment="commonModals">
            <div class="modal fade" id="confirmOperationModal" tabindex="-1" role="dialog" aria-labelledby="confirmOperationModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-body-tertiary bg-primary-subtle text-center" data-bs-theme="dark">
                            <h5 class="modal-title text-white" id="confirmOperationModalLabel">Operación realizada exitosamente</h5>
                        </div>
                        <div class="modal-body">
                            La información se ha actualizado exitosamente <br>
                            Redireccionando en 5 segundos... <span id="redirectionSpan"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:fragment="footer" class="app-footer">
            <span>
                Entorno: <b>Development</b>
            </span>

            <div class="float-end d-none d-sm-inline">
                <strong>
                    Copyright &copy; 2025 &nbsp;
                    BCB CASA DE BOLSA TODOS LOS DERECHOS RESERVADOS
                </strong>
            </div>
        </footer>

        <div th:fragment="jsDependencies">
            <script>var exports = {};</script>
            <script th:src="@{/public/adminlte/plugins/jquery/jquery-3.7.1.min.js}"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script th:src="@{/public/bootstrap-5.3.6/js/bootstrap.min.js}"></script>
            <script th:src="@{/public/adminlte/js/adminlte.min.js}"></script>
        </div>
        
    </body>
</html>
