<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Solicitudes a Fideicomiso</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-success mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Registrar Nueva Solicitud</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/request/request/create}" method="post" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate></form>
                                            <div class="row g-3">
                                                <div class="col-4">
                                                    <label for="RequestTypeId" class="form-label">Tipo de Solicitante:</label>
                                                    <select name="RequestTypeId" id="RequestTypeId" class="form-select">
                                                        <option value="0" selected disabled>Seleccione Opción</option>
                                                        <!--
                                                        <option th:each="process: ${processList}" th:value="${process.processId}" th:text="${process.processType.toString()} + ' ' + ${#dates.format(process.created, 'yyyy-MM-dd@HH:mm:ss')}"></option>
                                                        -->
                                                        <option value="1">Persona Física</option>
                                                        <option value="2">Persona Moral</option>
                                                        <option value="3">Persona Institucional</option>
                                                    </select>
                                                </div>

                                                <div class="col-4">
                                                    <label for="RequestTypeId" class="form-label">Tipo de Solicitud:</label>
                                                    <select name="RequestTypeId" id="RequestTypeId" class="form-select">
                                                        <option value="0" selected disabled>Seleccione Opción</option>
                                                        <!--
                                                        <option th:each="process: ${processList}" th:value="${process.processId}" th:text="${process.processType.toString()} + ' ' + ${#dates.format(process.created, 'yyyy-MM-dd@HH:mm:ss')}"></option>
                                                        -->
                                                        <option value="1">Patrimonial</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row g-3">
                                                <div class="col-8">
                                                    <label for="name" class="form-label">Razón Social:</label>
                                                    <input name="name" type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="row g-3">

                                            </div>

                                            <fieldset>
                                                <legend>Domicilio</legend>

                                                <div class="row g-3">
                                                    <div class="col-3">
                                                        <label for="zipcode" class="form-label">Código Postal</label>
                                                        <input type="text" name="zipcode" id="zipcode" class="form-control" maxlength="5" />
                                                    </div>

                                                    <div class="col-3">
                                                        <label for="colony" class="form-label">Colonia</label>
                                                        <select name="colony" id="colony" class="form-select" readonly aria-readonly="true">
                                                            <option value="0" selected disabled>Selecione Opción</option>
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="col-3">
                                                        <label for="state" class="form-label">Estado</label>
                                                        <select name="state" id="state" class="form-select" readonly aria-readonly="true">
                                                            <option value="0" selected disabled>Selecione Opción</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-3">
                                                        <label for="township" class="form-label">Municipio</label>
                                                        <select name="township" id="township" class="form-select" readonly aria-readonly="true">
                                                            <option value="0" selected disabled>Selecione Opción</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-3">
                                                        <label for="external_number" class="form-label">Número Exterior</label>
                                                        <input type="text" name="external_number" class="form-control" />
                                                    </div>

                                                    <div class="col-3">
                                                        <label for="internal_number" class="form-label">Número Interior</label>
                                                        <input type="text" name="internal_number" class="form-control" />
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="street" class="col-2 form-label">Calle</label>
                                                        <input type="text" name="street" class="form-control" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{fragments/common :: jsDependencies}"></div>
    </body>
</html>
