<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Prospectos a Fideicomiso</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-primary mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Prospectos Registrados</strong></h3>

                                        <div class="card-tools">
                                            <a th:href="@{/request/request/create}" class="btn btn-success btn-sm">
                                                <i class="bi bi-plus-circle"></i> Nuevo Prospecto
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" id="requestTable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Número Prospecto</th>
                                                        <th>Tipo Fideicomiso</th>
                                                        <th>Etapa</th>
                                                        <th>Estado</th>
                                                        <th>Fecha de Registro</th>
                                                        <th>Registrado Por</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody th:each="request : ${requestList}">
                                                    <tr>
                                                        <td th:text="${request.requestId}"></td>
                                                        <td th:text="${request.number}"></td>
                                                        <td th:text="${request.trustTypeEntity.name}"></td>
                                                        <td th:text="${request.state}"></td>
                                                        <td th:text="${request.statusAsString}"></td>
                                                        <td th:text="${#temporals.format(request.created, 'yyyy-MM-dd HH:mm-ss')}"></td>
                                                        <td th:text="${request.registeredBy.person.fullName}"></td>
                                                        <td>
                                                            <a th:href="@{/request/request/detail/{id}(id=${request.requestId})}" class="btn btn-info">
                                                                <i class="fa fa-search"></i> Ver Detalles
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: commonModals}"></div>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>
        </div>
    </body>
</html>