<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Usuarios del Sistema</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-success mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Registrar Usuario en Sistema</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form">
                                            <ul class="nav nav-tabs mb-3" id="personTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="person-tab" data-bs-toggle="tab" data-bs-target="#person-tab-pane" 
                                                    type="button" role="tab" aria-controls="person-tab-pane" aria-selected="true" tabindex="0">
                                                        <i class="fa fa-person"></i> <strong>Datos Personales</strong>
                                                    </button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" 
                                                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" tabindex="-1">
                                                        <strong>Perfil & Permisos</strong>
                                                    </button>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade active show" id="person-tab-pane" role="tabpanel" aria-labelledby="person-tab" tabindex="0">
                                                    <div class="row g-3">
                                                        <div class="col-3">
                                                            <label for="firstName" class="form-label"><strong>Primer Nombre</strong></label>
                                                            <input type="text" name="firstName" id="firstName" class="form-control" />
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="secondName" class="form-label">Segundo Nombre</label>
                                                            <input type="text" name="secondName" id="secondName" class="form-control" placeholder="Opcional" />
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="lastName" class="form-label">Apellido Paterno</label>
                                                            <input type="text" name="lastName" id="lastName" class="form-control" />
                                                        </div>

                                                        <div class="col-3">
                                                            <label for="secondLastName" class="form-label">Apellido Materno</label>
                                                            <input type="text" name="secondLastName" id="secondLastName" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="row g-3">
                                                        <div class="col-3">
                                                            <label for="gender" class="form-label">Género</label>
                                                            <select name="gender" id="gender" class="form-select">
                                                                <option value="0" selected disabled>Seleccione Opción</option>
                                                                <option value="1">Femenino</option>
                                                                <option value="2">Masculino</option>
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
                                                            <input type="date" name="birth_date" class="form-control" />
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="curp" class="form-label">CURP</label>
                                                            <input type="text" name="curp" class="form-control" maxlength="18" value="XAXX000000XXXXXX00" />
                                                        </div>

                                                        <div class="col-3">
                                                            <label for="rfc" class="form-label">RFC</label>
                                                            <input type="text" name="rfc" class="form-control" maxlength="13" value="XAXX000000XX0" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="1">
                                                    <div class="col-3">
                                                        <label for="profile" class="form-label">Perfil</label>
                                                        <select name="profile" id="profile" class="form-select">
                                                            <option value="0" selected disabled>Seleccione Opción</option>
                                                            <option th:each="profile : ${profileEntityList}" th:value="${profile.profileId}" th:text="${profile.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>

            <script th:src="@{/public/js/module/system/user/create.js}"></script>
        </div>
    </body>
</html>