<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Usuarios del Sistema :: Crear Nuevo Usuario</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-success mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Registrar Usuario en Sistema</strong></h3>

                                        <div class="card-tools">
                                            <a th:href="@{/system/user}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-arrow-circle-left"></i> Regresar a Usuarios
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form container-fluid">
                                            <div class="col-12">
                                                <div id="divUserAlert" class="row g-3" hidden>
                                                    <div id="userAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
                                                        <strong id="userAlertStrong"></strong> <span id="userAlertSpan"></span>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                </div>

                                                <div class="row g-3">
                                                    <div class="col-6">
                                                        <label for="email" class="form-label"><strong>Correo Electrónico</strong></label>
                                                        <input id="email" name="email" type="text" class="form-control">
                                                    </div>
                                                    <div class="col-3">
                                                        <label for="nickname" class="form-label"><strong>Nickname</strong></label>
                                                        <input id="nickname" name="nickname" type="text" class="form-control" disabled>
                                                    </div>
                                                </div>

                                                <hr>

                                                <div>
                                                    <h5 class="mb-3"><strong>Información Personal</strong></h5>

                                                    <div class="row g-3">
                                                        <div class="col-3">
                                                            <label for="firstName" class="form-label"><strong>Primer Nombre</strong></label>
                                                            <input id="firstName" name="firstName" type="text" class="form-control" />
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="secondName" class="form-label"><strong>Segundo Nombre</strong></label>
                                                            <input id="secondName" name="secondName" type="text" class="form-control" placeholder="Opcional" />
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="lastName" class="form-label"><strong>Apellido Paterno</strong></label>
                                                            <input id="lastName" name="lastName" type="text" class="form-control" />
                                                        </div>
    
                                                        <div class="col-3">
                                                            <label for="secondLastName" class="form-label"><strong>Apellido Materno</strong></label>
                                                            <input id="secondLastName" name="secondLastName" type="text" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="row g-3">
                                                        <div class="col-3">
                                                            <label for="gender" class="form-label"><strong>Género</strong></label>
                                                            <select id="gender" name="gender" class="form-select">
                                                                <option value="0" selected disabled>Seleccione Opción</option>
                                                                <option value="1">Femenino</option>
                                                                <option value="2">Masculino</option>
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="birthDate" class="form-label"><strong>Fecha de Nacimiento</strong></label>
                                                            <input id="birthDate" name="birthDate" type="date" class="form-control" />
                                                        </div>
                                                        
                                                        <div class="col-3">
                                                            <label for="curp" class="form-label"><strong>CURP</strong></label>
                                                            <input id="curp" name="curp" type="text" class="form-control" maxlength="18" value="XAXX000000XXXXXX00" />
                                                        </div>
    
                                                        <div class="col-3">
                                                            <label for="rfc" class="form-label"><strong>RFC</strong></label>
                                                            <input id="rfc" name="rfc" type="text" class="form-control" maxlength="13" value="XAXX000000XX0" />
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="row g-3">
                                                        <div class="col-3">
                                                            <button id="btnSaveUser" type="button" class="btn btn-primary" hidden>Guardar Usuario</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: commonModals}"></div>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>

            <script th:src="@{/public/js/module/system/user/create.js}"></script>
        </div>
    </body>
</html>