<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Usuarios del Sistema :: Detalle de Usuario</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-primary mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Detalle de Usuario</strong></h3>

                                        <div class="card-tools">
                                            <a class="btn btn-sm btn-info" th:href="@{/system/user}">
                                                <i class="fa fa-arrow-circle-left"></i> Regresar
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5>Perfil de Usuario</h5>
                                        <div class="table-responsive">
                                            <table class="table table-sm table-striped table-bordered" id="userProfileTable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nickname</th>
                                                        <th>Correo Electrónico</th>
                                                        <th>Perfil</th>
                                                        <th>Estado</th>
                                                        <th>Fecha de Registro</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td th:text="${userEntity.userId}"></td>
                                                        <td th:text="${userEntity.nickname}"></td>
                                                        <td th:text="${userEntity.email}"></td>
                                                        <td th:text="${userEntity.profile.name}"></td>
                                                        <td th:text="${userEntity.statusAsString}"></td>
                                                        <td th:text="${userEntity.created}"></td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <h5>Datos Personales</h5>
                                        <div class="table-responsive">
                                            <table class="table table-sm table-striped table-bordered" id="userProfileTable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Primer Nombre</th>
                                                        <th>Segundo Nombre</th>
                                                        <th>Apellido Paterno</th>
                                                        <th>Apellido Materno</th>
                                                        <th>Estado</th>
                                                        <th>Fecha de Registro</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td th:text="${userEntity.person.personId}"></td>
                                                        <td th:text="${userEntity.person.firstName}"></td>
                                                        <td th:text="${userEntity.person.secondName}"></td>
                                                        <td th:text="${userEntity.person.lastName}"></td>
                                                        <td th:text="${userEntity.person.secondLastName}"></td>
                                                        <td th:text="${userEntity.statusAsString}"></td>
                                                        <td th:text="${userEntity.person.created}"></td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>
        </div>
    </body>
</html>