<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{fragments/common :: nav}"></nav>

            <aside th:replace="~{fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h4>Perfil de Sistema :: Actualizar</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-warning mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Actualizar Perfil en el Sistema</strong></h3>

                                        <div class="card-tools">
                                            <a th:href="@{/system/profile}" class="btn btn-sm btn-primary" role="button">
                                                <i class="fa fa-arrow-circle-left"></i> Regresar a Perfiles
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form">
                                            <div class="row g-3">
                                                <div class="col-3" hidden>
                                                    <label for="name" class="form-label"><strong>Nombre</strong></label>
                                                    <input type="text" id="profileId" name="profileId" class="form-control" th:value="${systemProfileEntity.profileId}" />
                                                </div>

                                                <div class="col-3">
                                                    <label for="name" class="form-label"><strong>Nombre</strong></label>
                                                    <input type="text" id="name" name="name" class="form-control" th:value="${systemProfileEntity.name}" />
                                                </div>

                                                <div class="col-3">
                                                    <label for="members" class="form-label"><strong>Miembros</strong></label>
                                                    <input name="members" id="members" type="number" min="0"  class="form-control" placeholder="Opcional" th:value="${systemProfileEntity.members}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row g-3 text-start">
                                            <div class="col-3">
                                                <button id="btnSaveProfile" class="btn btn-warning" role="button">
                                                    <i class="fa fa-sync"></i> Actualizar Perfil de Sistema
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-warning mb-4">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>Recursos Asignados</strong></h3>

                                        <div class="card-tools">
                                            <a th:href="@{/system/profile/assign-resource/{profileId}(profileId=${systemProfileEntity.profileId})}" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#assignResourceModal" role="button">
                                                <i class="fa fa-plus"></i> Asignar Recursos
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="resourceTable" class="table table-sm table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Módulo</th>
                                                        <th>Código</th>
                                                        <th>Elemento</th>
                                                        <th>Acción</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="profileResource: ${profileResourceList}">
                                                        <td><span th:text="${profileResource.resource.moduleAsString}"></span></td>
                                                        <td><span th:text="${profileResource.resource.code}"></span></td>
                                                        <td><span th:text="${profileResource.resource.element}"></span></td>
                                                        <td><span th:text="${profileResource.resource.action}"></span></td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-danger" role="button" title="Desasignar Recurso">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{fragments/common :: footer}"></footer>

            <div th:replace="~{fragments/common :: commonModals}"></div>

            <div th:replace="~{fragments/common :: jsDependencies}"></div>

            <script th:src="@{/public/js/module/system/profile/update.js}"></script>
        </div>
    </body>
</html>